* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

#crud {
  border: 1px grey solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  max-height: 500px;
  width: 250px;
  overflow: auto;
}

#header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4px;
  position: absolute;
  justify-content: space-between;
  width: inherit;
}

.addTask {
  border-radius: 3px;
  border: unset;
  cursor: pointer;
}

#tasks {
  margin-top: 30px;
}

#tasks li {
  height: 40px;
  background-color: rgb(183, 183, 183);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

#tasks li:hover {
  transform: translateY(-3px);
}

.done {
  background-color: rgb(183, 183, 183, 0.6) !important;
  color: grey;
}

.iconContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.doneIcon {
  background: url(./assets/done.svg);
}

.clearIcon {
  background: url(./assets/clear.svg);
}

.redoIcon {
  background: url(./assets/redo.svg);
}
